.App {
  text-align: center;
}

/* .App a {
  color: #f0f6f6;
} */

.App a {
  color: white;
  margin: 8px;
  padding: 8px;
  margin-right: 38px;
  transition: 375ms;
}

.App a:visited {

}

.App a:hover {
  color: #33FF29;
  transition: 375ms
}

.App a:active {
  color: rgb(0, 64, 241);
  transition: 375ms;
  transition: 500ms
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}