.App {
	text-align: center;
}

.App a {
	text-decoration: none;
}

.App a link {
	color: white;
	margin: 8px;
	padding: 8px;
	margin-right: 38px;
}

.App a:hover {
	color: #33ff29;
	text-decoration: none;
	transition: 0.61s -10ms;
}

.App a:active {
	color: #1a77f2;
	transition: 375ms;
	transition: 500ms;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #1a77f2;
}
