.App {
  text-align: center;
}

.App a {
  color: #E0FFFF;
  margin: 4px;
  padding: 4px;
  margin-right: 32px;
  font-size: 2vw;
}

.App a:hover {
  color: #33FF29;
  font-size: 2vw;
  margin: 0px;
  padding: 0px;
}

.App h1 {
  font-size: 5vw;
}

.App h2 {
  font-size: 4vw;
}

.App h3 {
  font-size: 2vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61FAF4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







