body {
  margin: 0;    
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace; 
    color: var(--color-text-primary); 
    word-wrap: normal; 
    /* white-space: pre;  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0F161F;
  color: #3BEFF5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
