body {
  margin: 0;    
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace; 
    color: var(--color-text-primary); 
    word-wrap: normal; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0F161F;
  color: #3BEFF5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}