body {
  margin: 0;    
	Font-Family: 'Cabin', Sans-Serif;
    color: var(--color-text-primary); 
    word-wrap: normal; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eff2f5;
  color: #1a77f2;
  max-width: 100vw;
  max-height: 100vh;
}

h1, h2, h3 {
	Font-Family: 'Roboto Condensed', Sans-Serif;
}

img {
  border-radius: 5px;
  max-width: 100%;
  max-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}